/* checkout.css */

.cart-page-container {
    max-width: 1480px;
    margin: 20px auto;
    padding: 20px;
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
}

#cart-table th,
#cart-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--cor-cinza-borda);
}

#cart-table th {
    background-color: var(--cor-cinza-tabela-carrinho);
    font-weight: bold;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.cart-item-quantity-container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.cart-item-quantity {
    width: 20px;
    text-align: center;
    display: inline-block;
}

.cart-item-qty-decrease,
.cart-item-qty-increase {
    padding: 5px 10px;
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-primaria-branco);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button i {
    pointer-events: none;
}

.cart-item-remove  {
    padding: 5px 10px;
    background-color: var(--cor-primaria-azul);
    color: var(--cor-primaria-branco);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-qty-decrease:hover,
.cart-item-qty-increase:hover {
    background-color: var(--cor-azul-escuro-hover);
}

.cart-item-remove:hover{
    background-color: var(--cor-azul-escuro-hover);
}

.cart-item-qty-decrease:focus,
.cart-item-qty-increase:focus,
.cart-item-remove:focus {
    outline: 2px solid var(--cor-cinza-escuro);
    outline-offset: 2px;
}

#cart-total-container {
    text-align: right;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
}

.cart-total-info
{
    margin-bottom: 20px;
}

.cart-total-info p {
    margin: 10px 0;
    font-size: 18px;
}

#cart-installment-select {
    padding: 8px;
    font-size: 16px;
    border-radius: var(--border-radius);
    margin-left: 10px;
    vertical-align: middle;
}

.cart-finalize-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--cor-primaria-laranja);
    color: var(--cor-primaria-branco);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.cart-finalize-button:hover {
    background-color: var(--cor-laranja-claro-hover);
}

.cart-finalize-button:focus {
    outline: 2px solid var(--cor-primaria-laranja);
    outline-offset: 2px;
}

.cart-back-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--cor-cinza-claro);
    color: var(--cor-cinza-escuro);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.cart-back-button:hover {
    background-color: var(--cor-cinza-borda-hover);
}

.cart-back-button:focus {
    outline: 2px solid var(--cor-cinza-claro);
    outline-offset: 2px;
}