/* Layouts e Containers */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.header-max-width {
    background-color: #1a1a1a;
}

.site-header .site-logo {
    max-width: 200px;
}

.header-menu .menu-items {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-menu .menu-items li {
    color: white;
}

.header-menu .account_link {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.header-menu .account_link:hover {
    color: #F2A81D;
}

.navigation-menu .search-bar {
    display: block;
    width: 100%;
    padding: 10px 1.25rem;
    background-color: #303030;
    border-radius: 8px;
}

.navigation-menu .search-bar input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #424242;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #424242;
    outline: #424242;
    color: white;
}