/* Layouts e Containers */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.header-container {
    background-color: #1a1a1a;
}

.site-header .site-logo {
    max-width: 12.5rem;
}

.header-menu .menu-items {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-menu .menu-items li {
    color: white;
}

.header-menu .account_link {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.header-menu .account_link:hover {
    color: #F2A81D;
}

.navigation-menu .search-bar {
    display: block;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: #303030;
    border-radius: 0.5rem;
}

.navigation-menu .search-bar input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #424242;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #424242;
    color: white;
}

.navigation-menu .search-bar input:focus {
    outline: 2px solid #F2A81D;
    outline-offset: 2px;
}