/* Navegação */

/* Menu de navegação no cabeçalho */
.header-nav {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    max-width: 1480px;
    margin: 0 auto;
    justify-content: space-between;
}

/* Botão de alternância do menu móvel */
.header-menu-toggle, 
.header-cart-toggle {
    display: block;
    border: none;
    background-color: transparent;
}

.header-cart-toggle i,
.header-menu-toggle i {
    pointer-events: none;
    font-size: 25px;
    color: var(--cor-primaria-branco);
}

.header-cart-content 
.header-cart-toggle {
    display: flex;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: transparent;
    align-items: center;
}

/* Menu de navegação móvel */
.header-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 18.75rem;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--cor-primaria-azul);
    z-index: 1000;
    padding: 1.25rem;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    box-shadow: 0.125rem 0 0.625rem rgba(0, 0, 0, 0.2);
}

.header-nav-menu.show {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    gap: 0.85rem;
}

.header-nav-menu a {
    color: var(--cor-primaria-branco);
    display: block;
    padding: 0.625rem;
    transition: color 0.3s ease;
}

.header-nav-menu a:hover {
    color: var(--cor-primaria-laranja);
}

/* Fechar o menu */
#close-menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--cor-primaria-branco);
    cursor: pointer;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    transition: color 0.3s ease;
}

#close-menu:hover {
    color: var(--cor-vermelha-hover);
}

/* Título da navegação */
.header-nav-title { 
    color: var(--cor-primaria-branco);
    font-size: 1rem;
    margin: 0.625rem 0px 0.625rem 0px;
    border-bottom: 1px solid #1a70b9;
    padding-bottom: 1rem;
}

/* Botão do carrinho */
.header-cart-button-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.625rem;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--cor-primaria-branco);
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.header-cart-item-count {
    position: relative;
    top: -15px;
    right: -5px;
    background-color: var(--cor-vermelho-carrinho);
    color: var(--cor-primaria-branco);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}