/* Newsletter */
.newsletter-wrapper {
    background-color: #222;
}

.newsletter {
    color: white;
    padding: 1.875rem 1.25rem;
    text-align: center;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.newsletter-title {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.newsletter-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-button:hover {
    background-color: #2980b9;
}