/* Reset or Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos Gerais */
body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

ul {
    list-style: none;
}

img {
    max-width: 95%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

/* Variáveis Globais */

/* Layouts e Containers */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.header-max-width {
    background-color: #1a1a1a;
}

.site-header .site-logo {
    max-width: 200px;
}

.header-menu .menu-items {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-menu .menu-items li {
    color: white;
}

.header-menu .account_link {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.header-menu .account_link:hover {
    color: #F2A81D;
}

.navigation-menu {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    background-color: #1a1a1a;
    padding: 1.25rem; 
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    
}

.navigation-menu .search-bar {
    display: block;
    width: 100%;
    padding: 10px 1.25rem;
    background-color: #303030;
    margin-bottom: 1.25rem;
    border-radius: 5px;
}

.navigation-menu .search-bar input {
    width: 100%;
    padding: 0.625rem; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.navigation-menu .mobile-menu-button {
    display: block;
    width: 30%;
    text-align: left;
    padding: 0.625rem;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navigation-menu .nav-list {
    display: none;
    flex-direction: column;
    background-color: #303030;
    transition: all 0.3sease-in-out;
    transition: left 0.3s;
    max-width: 100vw;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;
}

.navigation-menu .nav-list.show {
    display: flex;
    padding: 0.625rem; 
    width: 100%; 
    gap: 0.85rem; 
}

.navigation-menu .nav-list a {
    color: #aaa;
    display: block;
    padding: 0.625rem; 
}

.navigation-menu .nav-list a:hover {
    color: #F2A81D;
}

.category-title {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.625rem; 
}

/* Componentes */

.btn-carrinho {
    display: flex;
    background-color: #F2A81D;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    gap: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-carrinho:hover {
    background-color: #019201;
}

.svg-icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
}

/* Cards */
.produtos {
    margin: 1.25rem auto; 
    width: 90%;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem; 
    justify-content: center;
    padding: 1rem;
}

.produtos .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(100% - 1.25rem); 
    max-width: 270px;
    min-width: 270px;
}

.produtos .card img {
    width: 100%; 
    height: 270px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.produtos .card .product_link {
    padding: 1.25rem; 
}

.produtos .card h3 {
    font-size: 1rem;
    color: #333;
    margin: 0.625rem 1.25rem; 
    text-align: left;
    height: 75px;
    overflow: hidden;
}

.produtos .card .produto_preco {
    font-size: 1.5rem;
    color: #00a000;
    font-weight: 700;
}

.produtos .card .produto_pagamento {
    font-size: 1rem;
    color: #00a000;
}

.btn-carrinho-card {
    position: absolute;
    bottom: 10px;
    left: 85%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: none;
    cursor: pointer;
}

.card:hover .btn-carrinho-card {
    display: block;
}

.product_info {
    margin: 1.25rem; 
    text-align: left;
    color: #777;
    font-size: 0.75rem; 
}

.produtos .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.main-max-width {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    background-color: #222;
}

/* Newsletter */
.newsletter-wrapper {
    background-color: #222;
}

.newsletter {
    color: white;
    padding: 1.875rem 1.25rem; 
    text-align: center;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.newsletter-title {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem; 
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-align:center;
}

.newsletter-input {
    padding: 0.625rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    max-width: 250px;
}

.newsletter-button {
    padding: 0.625rem 1.25rem;
    background-color: #F2A81D;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px;
}

.newsletter-button:hover {
    background-color: #ce901c;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    box-sizing: border-box;
}

.footer-wrapper {
    background-color: #1a1a1a;
    color: white;
    padding: 2.5rem 1.25rem;
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section-title {
    font-size: 1.25rem;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;

}

.footer-list {
    font-size: 1rem;
}

.footer-list li {
    margin-bottom: 0.85rem;
}

.payment-methods {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.payment-icons {
    width: 30%;
    display: flex;
    padding: 0.5rem 1rem;
    background: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    justify-content: center;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom a {
    color: #F2A81D;
}

.footer-bottom a:hover {
    color: white;
}

/* Checkout Page */
#carrinho {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.625rem;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.carrinho_button {
    padding: 0.625rem 1.25rem;
    background-color: #00a000;
    color: white;
    border-radius: 5px;
}

.carrinho_button:hover {
    background-color: #019201;
}

#total-container {
    margin-top: 1.25rem;
    text-align: right;
}

#total-preco {
    font-size: 1.5rem;
    color: #00a000;
}

.carrinho_container {
    min-height: 90vh;
}

#checkout-wrapper {
    padding: 1.25rem;
}

#checkout-wrapper .form-group {
    margin-bottom: 1.25rem;
}

#checkout-wrapper input[type="text"],
#checkout-wrapper input[type="email"],
#checkout-wrapper input[type="phone"] {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#checkout-wrapper button {
    padding: 1rem 2rem;
    background-color: #00a000;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries */

/* Dispositivos móveis (até 768px) */
@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-menu .menu-items {
        display: block;
    }

    .navigation-menu .nav-list {
        flex-direction: column;
        position: static;
        width: 100%;
    }

    .produtos .card {
        width: 100%;
        max-width: 100%;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-input,
    .newsletter-button {
        width: 100%;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-section {
        min-width: auto;
    }

    .carrinho_container {
        min-height: auto;
    }
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .site-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .produtos .card {
        width: calc(50% - 1.25rem); 
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-section {
        min-width: 200px;
    }
}

/* Dispositivos grandes (maiores que 1024px) */
@media (min-width: 1024px) {
    .site-header {
        flex-direction: row;
        align-items: center;
    }

    #nav-list {
        max-width: 20.5rem;
        height: 100vh;
        top: 0px;
    }

    .produtos .card {
        width: calc(33.33% - 1.25rem);
    }
}